@model Models.Anomaly

@{
		ViewBag.Title = "Details";
}

<h2>جزییات</h2>


<div class="row">

	<div class="col-md-8">
		<div class="panel panel-primary">
			<div class="panel-heading">
				جزییات Anomaly
			</div>
			<div class="panel-body detail ">



				<div class="row">
					<div class="col-md-6">
						@Html.DisplayNameFor(model => model.EventDate)


					</div>
					<div class="col-md-6">
						@Html.DisplayFor(model => model.EventDate)


					</div>
				</div>

				<div class="row">
					<div class="col-md-6">

						@Html.DisplayNameFor(model => model.Code)

					</div>
					<div class="col-md-6">

						@Html.DisplayFor(model => model.Code)


					</div>
				</div>

				<div class="row">
					<div class="col-md-6">

						@Html.DisplayNameFor(model => model.Summery)


					</div>
					<div class="col-md-6">
						@Html.DisplayFor(model => model.Summery)




					</div>
				</div>

				<div class="row">
					<div class="col-md-6">

						@Html.DisplayNameFor(model => model.Place)


					</div>
					<div class="col-md-6">

						@Html.DisplayFor(model => model.Place)


					</div>
				</div>

				<div class="row">
					<div class="col-md-6">

						@Html.DisplayNameFor(model => model.ResponseUserId)

					</div>
					<div class="col-md-6">

						@Html.DisplayFor(model => model.ResponseUser.FullName)


					</div>
				</div>

				<div class="row">
					<div class="col-md-6">
						@Html.DisplayNameFor(model => model.AnomalyHseId)


					</div>
					<div class="col-md-6">
						@Html.DisplayFor(model => model.AnomalyHse.Title)




					</div>
				</div>

				<div class="row">
					<div class="col-md-6">

						@Html.DisplayNameFor(model => model.AnomalyLevelId)


					</div>
					<div class="col-md-6">
						@Html.DisplayFor(model => model.AnomalyLevel.Title)




					</div>
				</div>

				<div class="row">
					<div class="col-md-6">


						@Html.DisplayNameFor(model => model.Deadline)


					</div>
					<div class="col-md-6">
						@Html.DisplayFor(model => model.Deadline)




					</div>
				</div>

				<div class="row">
					<div class="col-md-6">
						@Html.DisplayNameFor(model => model.AnomalyResultId)


					</div>
					<div class="col-md-6">
						@Html.DisplayFor(model => model.AnomalyResult.Title)




					</div>
				</div>

				<div class="row">
					<div class="col-md-6">

						@Html.DisplayNameFor(model => model.EffectivnessDate)


					</div>
					<div class="col-md-6">
						@Html.DisplayFor(model => model.EffectivnessDate)

					</div>
				</div>

				<div class="row">
					<div class="col-md-6">
						@Html.DisplayNameFor(model => model.ImageUrl)

					</div>
					<div class="col-md-6">
						<img src="@Model.ImageUrl" height="200px;" />

					</div>
				</div>


				<div class="row">
					<div class="col-md-6">
						@Html.DisplayNameFor(model => model.Notes)

					</div>
					<div class="col-md-6">
						@Html.DisplayFor(model => model.Notes)
					</div>
				</div>

				<div class="row">
					<div class="col-md-6">
						@Html.DisplayNameFor(model => model.StatusId)

					</div>
					<div class="col-md-6">
						@Html.DisplayFor(model => model.Status.Title)

					</div>
				</div>


				<div class="row">
					<div class="col-md-6">

						@Html.DisplayNameFor(model => model.CreationDate)

					</div>
					<div class="col-md-6">
						@Html.DisplayFor(model => model.CreationDate)


					</div>
				</div>



			</div>

		</div>
	</div>
	<div class="col-md-4">
	@{
		var identity = (System.Security.Claims.ClaimsIdentity) User.Identity;
		string roleName = identity.FindFirst(System.Security.Claims.ClaimTypes.Role).Value;
		if (roleName == "company")
		{
			if (Model.Status.Order <= 2)
			{
				<div class="panel panel-primary">
					<div class="panel-heading">
						ثبت نتیجه
					</div>
					<div class="panel-body detail ">
						@using (Html.BeginForm())
						{
							@Html.AntiForgeryToken()

							<div class="form-horizontal">
								@Html.ValidationSummary(true)
								<div class="form-group">
									<div class="form-group">
										@Html.LabelFor(model => model.AnomalyResultId, new {@class = "control-label col-md-2"})
										<div class="col-md-10">
											@Html.DropDownList("AnomalyResultId", String.Empty)
											@Html.ValidationMessageFor(model => model.AnomalyResultId)
										</div>
									</div>

									<div class="form-group">
										@Html.LabelFor(model => model.EffectivnessDate, new {@class = "control-label col-md-2"})
										<div class="col-md-10">
											@Html.EditorFor(model => model.EffectivnessDate)

											@Html.ValidationMessageFor(model => model.EffectivnessDate)
										</div>
									</div>

									<div class="form-group">
										@Html.LabelFor(model => model.CompanyNotes, new {@class = "control-label col-md-2"})
										<div class="col-md-10">
											@Html.EditorFor(model => model.CompanyNotes)

											@Html.ValidationMessageFor(model => model.CompanyNotes)
										</div>
									</div>

									<div class="form-group" id="buttons">
										<div class="col-md-offset-2 col-md-10">
											<input type="submit" value="ثبت" class="btn btn-primary"/>
										</div>
									</div>
								</div>
							</div>

							@Html.HiddenFor(model => model.Id)
							@Html.HiddenFor(model => model.EventDate)
							@Html.HiddenFor(model => model.Code)
							@Html.HiddenFor(model => model.Summery)
							@Html.HiddenFor(model => model.Place)
							@Html.HiddenFor(model => model.Deadline)
							@Html.HiddenFor(model => model.ImageUrl)
							@Html.HiddenFor(model => model.Notes)
							@Html.HiddenFor(model => model.CompanyId)
							@Html.HiddenFor(model => model.IsActive)
							@Html.HiddenFor(model => model.CreationDate)
							@Html.HiddenFor(model => model.LastModifiedDate)
							@Html.HiddenFor(model => model.IsDeleted)
							@Html.HiddenFor(model => model.Description)
							@Html.HiddenFor(model => model.StatusId)
							@Html.HiddenFor(model => model.ResponseUserId)
							@Html.HiddenFor(model => model.AnomalyHseId)
							@Html.HiddenFor(model => model.CreatorUserId)
							@Html.HiddenFor(model => model.AnomalyLevelId)
						}
					</div>
				</div>
			}
		}
	}
		</div>
</div>



<p>
	@Html.ActionLink("بازگشت به فهرست", "Index")
</p>
