@model IEnumerable<Models.Covid>

@{
ViewBag.Title = "فهرست مبتلایان ویرویس کرونا";
    
    Layout = "~/Views/Shared/BackEndLayout/_BackEndLayout.cshtml";
}

<h2>@ViewBag.Title</h2>

        @(Html.Kendo().Grid(Model)
              .Name("Grid")
              .Columns(columns =>
                  {
        columns.Bound(model => model.CovidStatus.Title);
        columns.Bound(model => model.CovidType.Title);
        columns.Bound(model => model.FullName);
        columns.Bound(model => model.SickDateStr);
        columns.Bound(model => model.SafeDateStr);
        columns.Bound(model => model.QuarantineDays);
        columns.Bound(model => model.CreationDateStr);
					columns.Bound(item => @item.Id).Title("ضمیمه").Filterable(false).Groupable(false)
							.Template(@<text>
									@if (!string.IsNullOrEmpty(item.ImageUrl))
									{
										<a href="@item.ImageUrl" class="btn btn-default" target="_blank">دانلود</a>
									}
									else
									{
										<span>ضمیمه ندارد</span>
									}
									</text>).Width(200);

									columns.Bound(item => @item.Id).Title("دستورات").Filterable(false).Groupable(false)
							.Template(@<text>
									@Html.ActionLink("ویرایش", "Edit", new {id = @item.Id}, new {@class = "k-button"})
									@Html.ActionLink("حذف", "Delete", new {id = @item.Id}, new {@class = "k-button"})
									</text>).Width(200);  
		})
		.ToolBar(toolbar =>
					{				
						toolbar.Custom().Action("Create","Covids").Text("افزودن");                          
					}
		)         
		.DataSource(dataSource => dataSource
									.Server()
							
									.Model(model => model.Id(item => item.Id))
					)              
	)
