@model IEnumerable<Models.Company>

@{
	ViewBag.Title = "فهرست شرکت های پیمانکار مربوط به ناظر";
    
}

<h2>@ViewBag.Title</h2>

@(Html.Kendo().Grid(Model)
	  .Name("Grid")
	  .Columns(columns =>
	  {
		  columns.Bound(model => model.Title);
		  columns.Bound(model => model.SupervisorUser.FullName).Title("نام ناظر");
		  columns.Bound(model => model.IsActive);
		  columns.Bound(model => model.CreationDateStr);
		  columns.Bound(item => @item.Id).Title("دستورات").Filterable(false).Groupable(false)
			  .Template(@<text>
				         
				            @Html.ActionLink("مشاهده ارزیابی ریسک", "IndexForSupervisor", new { companyId = @item.Id}, new {@class = "k-button"})
			             </text>).Width(200);  
	  })
	          
	  .DataSource(dataSource => dataSource
		  .Server()
							
		  .Model(model => model.Id(item => item.Id))
	  )              
	  )
