@model IEnumerable<ViewModels.UserStageListViewModel>

@{
		ViewBag.Title = "فهرست ریسک های وارد شده " + ViewBag.CompanyTitle;

}

<h2>@ViewBag.Title</h2>

        @(Html.Kendo().Grid(Model)
              .Name("Grid")
              .Columns(columns =>
                  {
                          columns.Bound(model => model.ProjectTitle);
                          columns.Bound(model => model.OperationTitle);
                          columns.Bound(model => model.ActTitle);
                          columns.Bound(model => model.StageTitle);
                          columns.Bound(model => model.StatusTitle);
					columns.Bound(item => @item.Id).Title("دستورات").Filterable(false).Groupable(false)
							.Template(@<text>
									@Html.ActionLink("مشاهده ریسک های وارد شده", "DetailsForSupervisor", new {id = @item.Id}, new {@class = "k-button"})
								
									</text>).Width(200);  
		})
		.ToolBar(toolbar =>
					{				
						toolbar.Custom().Action("Create","UserStages").Text("افزودن");                          
					}
		)         
		.DataSource(dataSource => dataSource
									.Server()
							
									.Model(model => model.Id(item => item.Id))
					).Sortable().Filterable()              
	)
