@model Models.UserRisk

@{
    ViewBag.Title = "ویرایش " + Server.HtmlDecode(Html.DisplayNameFor(model => model).ToString());
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Edit", "UserRisks",FormMethod.Post, new { enctype = "multipart/form-data" })) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">        
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.UserId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("UserId", String.Empty)
                @Html.ValidationMessageFor(model => model.UserId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RiskId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("RiskId", String.Empty)
                @Html.ValidationMessageFor(model => model.RiskId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RiskIntensityId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("RiskIntensityId", String.Empty)
                @Html.ValidationMessageFor(model => model.RiskIntensityId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RiskProbabilityId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("RiskProbabilityId", String.Empty)
                @Html.ValidationMessageFor(model => model.RiskProbabilityId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AfterControlRiskIntensityId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("AfterControlRiskIntensityId", String.Empty)
                @Html.ValidationMessageFor(model => model.AfterControlRiskIntensityId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AfterControlRiskProbabilityId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("AfterControlRiskProbabilityId", String.Empty)
                @Html.ValidationMessageFor(model => model.AfterControlRiskProbabilityId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RiskStatusId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("RiskStatusId", String.Empty)
                @Html.ValidationMessageFor(model => model.RiskStatusId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IsAcceptedBySupervisor, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                                  @Html.EditorFor(model => model.IsAcceptedBySupervisor)
                @Html.ValidationMessageFor(model => model.IsAcceptedBySupervisor)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IsActive, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                                  @Html.EditorFor(model => model.IsActive)
                @Html.ValidationMessageFor(model => model.IsActive)
            </div>
        </div>

	    <div style="display:none">@Html.EditorFor(model => model.CreationDate)</div>
        <div class="form-group">
            @Html.LabelFor(model => model.Description, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                                  @Html.EditorFor(model => model.Description)
                @Html.ValidationMessageFor(model => model.Description)
            </div>
        </div>

        <div class="form-group" id="buttons">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="ثبت" class="btn btn-primary" />
				@Html.ActionLink("بازگشت به فهرست", "Index")
            </div>
        </div>
    </div>
}

