@model ViewModels.UserRiskReportViewModel
@{
	 
		Layout = "~/Views/Shared/BackEndLayout/_BackEndLayout.cshtml";
}
<style>
	label {
		color: darkcyan;
		font-size: 20px
	}
	th,td {
		padding: 10px;
	}
</style>
<h2>@ViewBag.Title</h2>

@foreach (var riskItem in Model.UserRiskItems)
{
		<div class="panel panel-primary">
			<div class="panel-heading">
				@ViewBag.Title
			</div>
			<div class="panel-body">
				<div class="row">
					<div class="col-md-6">
						<label >پروژه</label>
						<div>@riskItem.ProjectTitle</div>
					</div>
					<div class="col-md-6">
						<label>عملیات</label>
						<div>@riskItem.OperationtTitle</div>
					</div>
				</div>
				
				<div class="row">
					<div class="col-md-6">
						<label>فعالیت</label>
						<div>@riskItem.ActTitle</div>
					</div>
					<div class="col-md-6">
						<label>مرحله انجام کار</label>
						<div>@riskItem.StageTitle</div>
					</div>
				</div>
				<div class="row" style="padding: 0 40px; margin-top: 20px;">
					
					<div class="panel panel-default">
						<div class="panel-heading">
							ریسک ها
						</div>
						<div class="panel-body">
							<table class="tabl table-bordered">
								<thead>
								 <tr>
									<th>کد ریسک</th>
									<th>ریسک</th>
									<th>احتمال وقوع <i class="fa fa-question-circle" data-toggle="tooltip" data-html="true" title="@Model.ProbDesc"></i> </th>
									<th>شدت وقوع <i class="fa fa-question-circle" data-toggle="tooltip" data-html="true" title="@Model.IntenDesc"></i></th>
									<th>عدد ریسک</th>
									<th>مشاهده اقدامات کنترلی</th>
								</tr>
								</thead>
								<tbody>
								@foreach (var risk in riskItem.UserRisks)
								{
									<tr>
										<td>@risk.Risk.Code</td>
										<td>@risk.Risk.Title</td>
										<td>@risk.RiskProbability.Title</td>
										<td>@risk.RiskIntensity.Title</td>
										<td>@risk.RiskNumber - @risk.RiskDescription</td>
										<td><a target="_Blank" href="/userrisks/controlTask/@risk.Risk.Code" class="btn btn-default">مشاهده اقدامات کنترلی</a></td>
									</tr>
								}
								</tbody>
							</table>
						</div>
					</div>
				</div>
				</div>
		</div>
}




@section scripts{
	<script>
		$(document).ready(function(){
			$('[data-toggle="tooltip"]').tooltip();
		});

	</script>
}