@model Models.HsePlan

@{
		ViewBag.Title = "ویرایش " + Server.HtmlDecode(Html.DisplayNameFor(model => model).ToString());
		Layout = "~/Views/Shared/BackEndLayout/_BackEndLayout.cshtml";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("SupervisorComment", "HsePlans", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
		@Html.AntiForgeryToken()

		<div class="form-horizontal">
			<hr />
			@Html.ValidationSummary(true)
			@Html.HiddenFor(model => model.Id)
			@Html.HiddenFor(model => model.UserId)
			@Html.HiddenFor(model => model.FileUrl)
			@Html.HiddenFor(model => model.IsActive)
			@Html.HiddenFor(model => model.CompanyId)
			@Html.HiddenFor(model => model.Description)
			@Html.HiddenFor(model => model.CreationDate)
 


			<div class="form-group">
				@Html.LabelFor(model => model.CompanyId, new { @class = "control-label col-md-2" })
				<div class="col-md-10">
			@Model.Company.Title
				</div>
			</div>

			<div class="form-group">
				@Html.LabelFor(model => model.FileUrl, new { @class = "control-label col-md-2" })
				<div class="col-md-10">
					@if (!string.IsNullOrEmpty(Model.FileUrl))
					{
						<a href="@Model.FileUrl" target="_blank">دانلود</a>
					}
				</div>
			</div>
			
			<div class="form-group">
				@Html.LabelFor(model => model.Description, new { @class = "control-label col-md-2" })
				<div class="col-md-10">
					@Model.Description

				</div>
			</div>

			<div class="form-group">
				@Html.LabelFor(model => model.SupervisorComment, new { @class = "control-label col-md-2" })
				<div class="col-md-10">
					@Html.EditorFor(model => model.SupervisorComment)
					@Html.ValidationMessageFor(model => model.SupervisorComment)
				</div>
			</div>
		 
		
			<div class="form-group" id="buttons">
				<div class="col-md-offset-2 col-md-10">
					<input type="submit" value="ثبت" class="btn btn-primary" />
					@Html.ActionLink("بازگشت به فهرست", "IndexCompany")
				</div>
			</div>
		</div>
}

