@model Models.Relation

@{
		ViewBag.Title = "افزودن " + Server.HtmlDecode(Html.DisplayNameFor(model => model).ToString());
		Layout = "~/Views/Shared/BackEndLayout/_BackEndLayout.cshtml";
}

<h2>افزودن @Html.DisplayNameFor(model => model)</h2>

@using (Html.BeginForm("Create", "Relations", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
		@Html.AntiForgeryToken()

		<div class="form-horizontal">
			@Html.ValidationSummary(true)

			<div class="form-group">


				<div class="form-group">
					@Html.LabelFor(model => model.Title, new { @class = "control-label col-md-2" })
					<div class="col-md-10">
						@Html.EditorFor(model => model.Title)

						@Html.ValidationMessageFor(model => model.Title)
					</div>
				</div>

				<div class="form-group">
					@Html.LabelFor(model => model.CompanyId, new { @class = "control-label col-md-2" })
					<div class="col-md-10">
						@Html.DropDownList("CompanyId", String.Empty)

						@Html.ValidationMessageFor(model => model.CompanyId)
					</div>
				</div>

				<div class="form-group">
					@if (ViewBag.relationType == "edu")
					{
							<label class="control-label col-md-2">فايل اموزشى</label>
					}
					else
					{
							@Html.LabelFor(model => model.FileUrl, new { @class = "control-label col-md-2" })
					}
					<div class="col-md-10">
						@Html.Kendo().Upload().Name("fileUpload").Multiple(false)
						@Html.ValidationMessageFor(model => model.FileUrl)
					</div>
				</div>

				@if (ViewBag.relationType == "edu")
				{
						<div class="form-group">
							@Html.LabelFor(model => model.TeacherName, new { @class = "control-label col-md-2" })
							<div class="col-md-10">
								@Html.EditorFor(model => model.TeacherName)

								@Html.ValidationMessageFor(model => model.TeacherName)
							</div>
						</div>

						<div class="form-group">
							<label class="control-label col-md-2">تصاویر</label>

							<div class="col-md-10">
								@Html.Kendo().Upload().Name("imagesFileUpload").Multiple(true)

							</div>
						</div>
				}
				@if (ViewBag.relationType == "inorganization")
				{
						<div class="form-group">
							<label class="control-label col-md-2">ActionPlan</label>

							<div class="col-md-10">
								@Html.Kendo().Upload().Name("ActionPlanFileUpload").Multiple(true)

							</div>
						</div>
				}

				<div class="form-group">
					<div class="col-md-2">
					</div>
					<div class="col-md-10">
						@Html.EditorFor(model => model.IsActive)

						@Html.LabelFor(model => model.IsActive)
						@Html.ValidationMessageFor(model => model.IsActive)
					</div>
				</div>

				<div class="form-group">
					@Html.LabelFor(model => model.Description, new { @class = "control-label col-md-2" })
					<div class="col-md-10">
						@Html.EditorFor(model => model.Description)

						@Html.ValidationMessageFor(model => model.Description)
					</div>
				</div>

				<div class="form-group" id="buttons">
					<div class="col-md-offset-2 col-md-10">
						<input type="submit" value="ایجاد" class="btn btn-primary" />
						@Html.ActionLink("بازگشت به فهرست", "Index", new { id = ViewBag.RelationTypeId })
					</div>
				</div>
			</div>
		</div>
}
@section scripts{
	<script type="text/javascript">

		$(document).ready(function() {
			if ("@ViewBag.role" === "company") {
				$("#CompanyId").attr("disabled", "disabled");
			}
		});
	</script>
}