@model Models.Relation

@{
    ViewBag.Title = "مشاهده " + Server.HtmlDecode(Html.DisplayNameFor(model => model).ToString());
    Layout = "~/Views/Shared/BackEndLayout/_BackEndLayout.cshtml";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Edit", "Relations",FormMethod.Post, new { enctype = "multipart/form-data" })) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">        
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.RelationTypeId)
 

        <div class="form-group">
            @Html.LabelFor(model => model.Title, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                                @Model.Title
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FileUrl, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
	            @if (!string.IsNullOrEmpty(Model.FileUrl))
	            {
		            <a href="@Model.FileUrl" class="btn btn-primary" target="_blank">دانلود</a>
	            }
            </div>
        </div>
			 
    </div>
}

