@model Models.Progress

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/BackEndLayout/_BackEndLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Progress</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Company.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Company.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProgressGroup.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProgressGroup.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Start)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Start)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Finish)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Finish)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CompanyPercent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyPercent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SupPercent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SupPercent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AdminPercent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdminPercent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Total)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Total)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImageUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImageUrl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsActive)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreationDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastModifiedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastModifiedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsDeleted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsDeleted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeletionDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeletionDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
