@model IEnumerable<Models.Safety>

@{

		Layout = "~/Views/Shared/BackEndLayout/_BackEndLayout.cshtml";
}

<h2>@ViewBag.Title</h2>

@(Html.Kendo().Grid(Model)
																		.Name("Grid")
																		.Columns(columns =>
																		{
																		columns.Bound(model => model.Title);
																		columns.Bound(model => model.Company.Title);
																		columns.Bound(model => model.SafetyType.Title);
																		columns.Bound(model => model.SafetyFileType.Title);
																		columns.Bound(model => model.IsAccepteBySupervisor);
																		columns.Bound(model => model.SupervisorComment);
																		columns.Bound(model => model.CreationDate);
																	 

																			columns.Bound(item => @item.Id).Title("دستورات").Filterable(false).Groupable(false)
																				.Template(@<text>
							          
				            @{
					            var identity = (System.Security.Claims.ClaimsIdentity)User.Identity;
					            string roleName = identity.FindFirst(System.Security.Claims.ClaimTypes.Role).Value;
					            if (roleName == "supervisor")
					            {
						            @Html.ActionLink("ثبت نظر ناظر", "SupervisorComment", new { id = @item.Id }, new { @class = "k-button" })
					            }
				            }
<a href="@item.FileUrl" target="_blank" class="btn btn-primary">دانلود</a>
			             </text>).Width(200);  

  
																		})
				)
		 